<div>
    Chat Component
   </div>
   
   
   <div id="content">
   
   </div>
   
   <div hx-ext="ws" ws-connect="/ws">
       <br/>
       <br/>
       <form id="form" ws-send>
           <div class="uk-margin">
               <div class="uk-inline">
                   <button class="uk-form-icon uk-form-icon-flip" type="submit" uk-icon="icon: play-circle"></button>
                   <input class="uk-input" name="chat_message" type="text" placeholder="Your Question Here..." aria-label="Clickable icon">
     
               </div>
           </div> 
       </form>
   </div>
   
   