<div class="uk-flex uk-flex-column uk-flex-middle uk-width-1-1 uk-light">



    <h1> Pal </h1>
    <p> Personal Assistant in Learning </p>


    <div>
        <img src="/static/img/pal_snipped.png" width="150" height="150" alt="">
    </div>

    
    <div class="uk-width-1-1">

        <!-- Chat Content Gets Swapped Here -->
    <div id="content"></div>

    
    <div hx-ext="ws" ws-connect="/ws">
        <br/>
        <br/>
        <form id="form" ws-send>
            <div class="uk-margin uk-width-1-1 ">
                <div class="uk-inline uk-width-1-1">
                    <button class="uk-form-icon uk-form-icon-flip" type="submit" uk-icon="icon: play-circle"></button>
                    <input class="uk-input uk-width-1-1" name="chat_message" type="text" placeholder="Your Question Here..." aria-label="Clickable icon">
        
                </div>
            </div> 
        </form>

    </div id="context"><div>

    </div>

    <div>
        <button class="uk-button uk-button-default" hx-get="/clear_chat" hx-target="#content"> Clear</button>
    </div>

</div>

   
   