*.ps1
**/tests/data/**
**.egg-info
**.egg
**/__pycache__/**
**/.ipynb_checkpoints/**
**/*.ipynb
__pycache__/**
*.env
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.backup.*
**.terraform/**
**/.terraform*
**/push_to_ecr.sh
infra/**