<div class="uk-width-1-1">
    <br/>
    <br/>
    <div class="uk-flex uk-flex-column uk-flex-middle uk-width-1-1 uk-light">
        <div id="source_files"></div>

        <div>
            <button 
            class="uk-button uk-button-default" 
            hx-get="/admin/files/clear" 
            hx-target="#source_files"
            onclick="hideProgress()"> 
                Clear Files
            </button>
        </div>
    </div>

</div>


<script>

    function hideProgress() {
        // don't care about progress bar if we are clearing files
        var progress = document.getElementById('progress');
        progress.setAttribute('hidden', '');
    }

</script>