<div id="content" "hx-swap-oob=beforeend:#content">

    <div class="uk-width-1-1">

    {% for item in prev_messages %}
        
        {% if prev_messages[item]['message_type'] == "user" %}
        <div class="uk-flex uk-flex-row">
            <div style="padding:10px"><span uk-icon="icon: user"></span></div>
            <div class = "uk-width-3-4">{{ prev_messages[item]['message'] }} </div>
            <div class="uk-width-1-4"> </div>  
        </div>
        <br/>
        {% endif %}
                
        {% if prev_messages[item]['message_type'] == "system" %}
        <div class="uk-flex uk-flex-row uk-flex-right">
            <div class="uk-width-1-4"> </div>
            <div class="uk-align-right uk-width-3-4">{{ prev_messages[item]['message'] }} </div>
            <div style="padding:10px"><span uk-icon="icon: bolt"></span></div>
        </div>
        <br/>
        {% endif %}
    {% endfor %}

    </div>
    
    <div> 
        <div class="uk-flex uk-flex-row uk-flex-right">
            <div class="uk-width-1-4"> </div>
            <div class="uk-align-right uk-width-3-4">{{current_message}} <br/></div>
            <div style="padding:10px"><span uk-icon="icon: bolt"></span></div>
            <br/>
        </div>
    </div>
</div>